# Import common packages
snippet impe Import Einops
	import einops as E
snippet impn Import Numpy
	import numpy as np
snippet impj Import Jax
	import jax
snippet impjn Import Jax Numpy
	import jax.numpy as jnp
snippet impt Import torch
	import torch
