**.tags
**.DS_Store

karabiner/automatic_backups/
coc/
gh/config.yml

lazygit/
pudb/saved-breakpoints*

**packer_compiled**

gcloud/

htop/htoprc
**__pycache__/

nvim/site/

zsh/zshrc.zwc
mozilla/vpn.moz
tmux/plugins
btop
github-copilot
nvim/.neoconf.json
pudb/internal-cmdline-history.txt
.luarc.json
